*{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}


.heading
{
    text-align: center;
    font-size: 2em;
    color: coral;
    font-family: Arial;
    margin-top: 40px ;
    
}

.heading h1{
    text-decoration: underline;

}
.content{   
    margin: auto;
    width: 70%;
    color: black;
    line-height: 1.5;

}

.content p{
    margin-top: 20px;
   padding-top:  50px; ;
    font-size: 20px
    
}
